<div class="page-container">
  <div class="header-wrap">
    Demo
  </div>
  <div class="view-container">
    <div class="section-left">
      <div>Amazon prohibits hypodermic needles. A hypodermic needle is a hollow needle commonly used with a syringe to inject substances into the body or extract fluids from it. They may also be used to take liquid samples from the body, for example taking blood from a vein in venipuncture. Large bore hypodermic intervention is especially useful in catastrophic blood loss or shock. It is at times difficult to tell whether the product contains a needle intended to pierce the skin.  You may need to view the products image in order to determine if the product contains a needle and, therefore, should be restricted. </div>
      <h4>PLEASE RESTRICT: </h4>
      <ol>
        <li>hypodermic needles</li>
      </ol>
      <h4>PLEASE ALSO RESTRICT:</h4>
      <ol>
        <li>If the detail page indicates a needle is for "professional use only" then should RESTRICT regardless of marketing</li>
        
        <li>
          <span link="http://www.capitolscientific.com/BD-368650-zm.jpg" desc="" (mouseenter)="onDataOver($event)" (mouseleave)="onClear()">Vacutainer Brand Eclipse Blood Collection Needles</span> 
          <span link="https://image-assist.amazon.com/vision/vision/?marketplaceId=1&asin=B01DME1PAY" desc="" (mouseenter)="onDataOver($event)" (mouseleave)="onClear()"> e.g.B01DME1PAY</span>
        </li>
        
        <li>
          <span link="https://www.life-assist.com/ProductImages/300x225/04_it5117_it5211_it415021.jpg" desc="a device, usually made of plastic, used for filtering medications that are drawn into a syringe before administration. Some syringe needles have built-in filters; other filters are separate units that are attached to the needle before use. Needle filters commonly are disposable items designed for one-time use." (mouseenter)="onDataOver($event)" (mouseleave)="onClear()">Filter needles</span>
          <span link="https://image-assist.amazon.com/vision/vision/?marketplaceId=1&asin=B00XZD7OK8" desc="" (mouseenter)="onDataOver($event)" (mouseleave)="onClear()"> e.g., B00XZD7OK8</span>
        </li>
        
        <li>
          <span link="https://www.mdsupplies.com/sup/images/productImages/IUSPDJUYYY.gif" desc="" (mouseenter)="onDataOver($event)" (mouseleave)="onClear()">Products that identify as "hypodermic dispensing needles"</span> 
          <span link="https://image-assist.amazon.com/vision/vision/?marketplaceId=1&asin=B01HQF3G84" desc="" (mouseenter)="onDataOver($event)" (mouseleave)="onClear()">eg. B01HZWS1NS, B01HQF3G84</span>
        </li>
        
        <li>
          <span link="https://smhttp-ssl-57245.nexcesscdn.net/media/catalog/product/cache/1/thumbnail/600x/17f82f742ffe127f42dca9de82fb58b1/e/x/exel_insulin.jpg" desc="" (mouseenter)="onDataOver($event)" (mouseleave)="onClear()">Exel Comfortpoint Insulin Pen Needle</span>
        </li>
        <li>
          <span link="http://www.buykorea.org/images/files_new/mp/gd/2015/01/22/20150122171840526_025_RE.JPG" desc="" (mouseenter)="onDataOver($event)" (mouseleave)="onClear()">Feel Fine Insulin Pen Needle</span> 
          <span link="https://image-assist.amazon.com/vision/vision/?marketplaceId=1&asin=B016BJESGK" desc="" (mouseenter)="onDataOver($event)" (mouseleave)="onClear()">e.g. B016BJESGK</span>
        </li>
      </ol>
    </div>
    <div class="section-right">
      <img src="{{imgUrl}}" class="over-image" *ngIf="imgUrl">
      <div class="over-data" *ngIf="description">
        <span>Description :</span>
        <span>{{description}}</span>
      </div>
    </div>
  </div>
</div>